<div style="width: 40%; margin: 0 auto">
  <p class="name-text">Thomas Lindblom</p>
  <div style="width: 75%; margin: auto 0">
    <mat-card style="width: 150px">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon style="height: 40px; width: 40px">contact_phone</mat-icon>
        </div>
        <mat-card-title>Phone</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 16px">(555)-555-5555</p>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 150px; margin: 0 auto">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon style="height: 40px; width: 40px">contact_phone</mat-icon>
        </div>
        <mat-card-title>Phone</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 16px">(555)-555-5555</p>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 150px; margin: 0 auto">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon style="height: 40px; width: 40px">contact_phone</mat-icon>
        </div>
        <mat-card-title>Phone</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 16px">(555)-555-5555</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

