<h1 class="name-text" style="margin: 0 auto">Thomas Lindblom</h1>
<div class="card-container">
  <mat-card>
    <mat-card-title>
      <mat-card-title>About me</mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>tlindblomjr@gmail.com</mat-card-subtitle>
    <mat-card-content>
      <p style="font-size: 16px">I'm a Kotlin/Android Engineer and UX enthusiast based out of Silicon Valley. I make it
        my singular goal to make software that’s as awesome to use as it is to develop.</p>
      <div class="button-container">
        <button mat-raised-button color="primary" style="margin-right: 8px"><mat-icon color="white">email</mat-icon> Email</button>
        <button mat-raised-button style="background-color: #0072B1; color: white"><span><fa-icon [icon]=faLinkedInIn size="lg" style="color: white"></fa-icon> LinkedIn</span></button>
      </div>
    </mat-card-content>
  </mat-card>
  <!--<mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <fa-icon [icon]=faLinkedIn size="2x" style="color: #0072B1"></fa-icon>
      </div>
      <mat-card-title>LinkedIn</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a style="font-size: 16px" href="https://www.linkedin.com/in/thomas-lindblom-jr/">linkedin.com/in/thomas-lindblom-jr/</a>
    </mat-card-content>
  </mat-card>-->
</div>

